/* Основные стили */
body {
    background-color: #1a1a1a; /* Тёмный фон */
    color: #ffffff; /* Светлый текст */
    font-family: sans-serif;
}

header, footer {
    background-color: #333; /* Тёмный фон для блоков */
    color: #fff; /* Светлый текст для блоков */
}

a {
    text-decoration: none;
    color: #66b3ff; /* Цвет ссылок */
}

label {
    font-size: 18px;
}

a:hover {
    color: #ffffff; /* Изменение цвета ссылок при наведении */
}

ul {
    list-style-type: none; /* Убираем маркеры списка */
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 10px; /* Добавляем отступ между элементами списка */
}

form {
    color: #fff; /* Светлый текст для форм */
    padding: 20px; /* Добавляем отступ вокруг формы */
}

input, textarea {
    background-color: #555; /* Тёмный фон для полей ввода */
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 25px;
    margin-top: 10px;/* Восстанавливаем отступ между элементами */
    font-size: 18px;
}

input[type="submit"] {
    width: 100%;
    background-color: #66b3ff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:hover {
    background-color: #3385ff;
}

/* Стили для страницы входа и регистрации */
.login-page, .register-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; /* Занимаем 60% высоты экрана */
    margin-bottom: 20px; /* Восстанавливаем отступ между блоками */
}

.login-container, .register-container {
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px; /* Максимальная ширина блока */
    width: 100%; /* Ширина блока 100% */
    box-sizing: border-box; /* Учтем padding в ширине */
    margin-bottom: 20px; /* Восстанавливаем отступ между блоками */
}

.login-container h2, .register-container h2 {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    font-size: 36px;
}

/* Стили для Header и навигации */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

nav li {
    margin-right: 15px;
}

nav a {
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #66b3ff;
}

/* Стили для содержимого в блоке main */
main {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 20px; /* Восстанавливаем отступ между блоками */
}

/* styles.css */

/* Добавляем стили для блока форума */
.forum-posts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr)); /* Автоматическое заполнение, минимальная ширина 30% */
    gap: 20px; /* Отступ между блоками */
}

.forum-post-link {
    text-decoration: none;
    color: inherit;
}

.forum-post {
    background-color: #333;
    padding: 15px;
    border-radius: 8px;
    box-sizing: border-box;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    word-break: break-all;
}

.forum-post h3 {
    margin-bottom: 10px;
}

.forum-post p {
    margin: 0;
}

.forum-post:hover {
    background-color: #555;
}

.creat-a-comment {
    padding-top: 35px;
}

.creat-a-comment form {
    padding-top: 5px;
}

.comments-to-post{
    display: grid;
    gap: 20px;
}

.comment {
    padding-top: 0;
}



