<!DOCTYPE html>
<html lang="">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav>
        <ul>
            <li><a href="/">Домой</a></li>
            <li><a href="/forum">Форум</a></li>
            <li><a href="/login">Войти</a></li>
            <li><a href="/register">Зарегистрироваться</a></li>
            <!-- здесь можно добавить дополнительные ссылки для навигации -->
        </ul>
    </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <!-- здесь можно разместить нижнюю часть шаблона, которая будет общей для всех страниц -->
    </footer>
</body>
</html>
