{% extends "base.html" %}

{% block title %}Создать новый пост{% endblock %}

{% block content %}
    <h1>Создать новый пост</h1>
    <form method="POST">
        <div>
            <label for="title">Заголовок:</label><br>
            <input type="text" id="title" name="title" size="32"><br>
            <!-- Обработка ошибок, если они есть -->
        </div>
        <div>
            <label for="content">Содержание:</label><br>
            <textarea id="content" name="content" rows="10" cols="50"></textarea><br>
            <!-- Обработка ошибок, если они есть -->
        </div>
        <input type="submit" value="Создать пост">
    </form>
{% endblock %}
