<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактировать пост</title>
</head>
<body>
    <h1>Редактировать пост</h1>
    <form method="post">
        <label for="title">Заголовок:</label><br>
        <input type="text" id="title" name="title" value="{{ forum.title }}"><br>
        <label for="content">Содержание:</label><br>
        <textarea id="content" name="content">{{ forum.content }}</textarea><br>
        <input type="submit" value="Сохранить изменения">
    </form>
</body>
</html>