{% extends "base.html" %}

{% block title %}Редактировать пост{% endblock %}

{% block content %}
    <h1>Редактировать пост</h1>
    <form method="POST">
                {{ form.csrf_token }}
                <div class="form-group">
                    <label for="{{ form.title.id }}">Заголовок</label>
                    {{ form.title }}
                </div>
                <div class="form-group">
                    <label for="{{ form.content.id }}">Содержание</label>
                    {{ form.content }}
                </div>
                <div class="form-group">

                    {{ form.submit }}
                </div>
            </form>
{% endblock %}