{% extends "base.html" %}

{% block title %}Детали форума{% endblock %}

{% block content %}
    <div class = forum-post>
        <h1>{{ user.username }}</h1>

        <h3>{{ forum.title }}</h3>

        <h2>{{ forum.content }}</h2>
    </div>
    {% if current_user.is_authenticated %}
    <div class = creat-a-comment>
        <h2>Прокомментировать</h2>
        <form method="POST">
            {{ form.csrf_token }}
            <div class="form-group">
                {{ form.content }}
            </div>
            <div class="form-group">
                {{ form.submit }}
            </div>
        </form>
    </div>
    {% endif %}

    <div class = comment-to-post>
        {% for comment in comments %}
            <div class="comment">
                <h3>{{ comment.username }}</h3>
                <h3>{{ comment.text }}</h3>
            </div>
        {% endfor %}
    </div>

{% endblock %}
