{% extends "base.html" %}

{% block title %}Детали форума{% endblock %}

{% block content %}

        {% if current_user.id == forum.user_id %}
            <div>
                <a href="{{ url_for('forum.edit_post', post_id=forum.id) }}"> Редактировать пост </a>
                <a href="{{ url_for('forum.delete_post', post_id=forum.id) }}"> Удалить пост </a>
            </div>
        {% endif %}


    <div class = forum-post>
        <h1>{{ user.username }}</h1>

        <h3>{{ forum.title }}</h3>

        <h2>{{ forum.content }}</h2>
    </div>

    <div class = creat-a-comment>
        <h2>Комментарии</h2>
        {% if current_user.is_authenticated %}
        <form method="POST">
            {{ form.csrf_token }}
            <div class="form-group">
                {{ form.content }}
            </div>
            <div class="form-group">
                {{ form.submit }}
            </div>
        </form>
        {% endif %}
    </div>

    <div class = comments-to-post>
        {% for comment in comments %}
            <div class="forum-post comment">
                <h3>Пользователь: {{ comment.username }}</h3>
                <h3>{{ comment.text }}</h3>
                {% if current_user.id == comment.user_id %}
                    <div>
                        <a href="{{ url_for('forum.delete_comment',
                                comment_id=comment.comment_id) }}">  удалить комментарий </a>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>

{% endblock %}
