<!-- forum.html -->

{% extends "base.html" %}
{% block title %}Форум{% endblock %}

{% block content %}
    <h1>Добро пожаловать на форум!</h1>
    {% if not current_user.is_authenticated %}
            <div class="container mt-4">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <div class="card">
                            <div class="card-body text-center">
                                <p class="card-text">Если вы хотите тоже писать посты, то</p>
                                <a href="{{ url_for('auth.login') }}" class="btn btn-primary">Войдите</a>
                                <div class="mt-2">или</div>
                                <a href="{{ url_for('auth.register') }}" class="btn btn-success">Зарегистрируйтесь</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    {% endif %}

    <div class="forum-posts">
        {% for forum in forums %}
            <a href="{{ url_for('forum.forum_details', post_id=forum.id) }}" class="forum-post-link">
                <div class="forum-post">
                    <h3>{{ forum.title }}</h3>
                </div>
            </a>
        {% endfor %}
    </div>


{% endblock %}
